@font-face {
    font-family: "Unbounded";
    src: url("../fontes/Unbounded-Bold.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;  
}

@font-face {
    font-family: "Poppins";
    src: url("../fontes/Poppins-Regular.ttf")
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;  
}




/* Reset de CSS = deixar todos os elementos sem estilo padrão
   para evitar diferenças entre navegadores.
   EXISTE MAIS DE UMA MANEIRA DE RESETAR CSS,CONSULTE !*/


* {
    margin: 0;
    padding: 0;

}

/* EXEMPLOS QUE PODEM ESTILIZAR COR

mencionando todos os elementos com **,**
h1, p, a {
    color: #FFFFFF;
}

criando uma classe para depois adicionar no HTML
.cor-branca {
    color: #FFFFFF;
}*/
/*background-color no CSS é a propriedade usada para definir
  a cor de fundo de um elemento.*/
body {
    background-color: #0E1014; /*cor de fundo do body*/
    color: #FFFFFF; /*cor de todas as letras dentro do body*/
}

header img {
    display: block;
    margin: 75px 0 0 360px;

}
h1 {
    text-align: center;
    font-size: 64px; /*tamanho da fonte do h1*/
    font-family: "Unbounded", sans-serif; /*familia de fonte do h1*/
    margin-top: 60px;
}

p {
    text-align: center;
    font-family: "Poppins", sans-serif; /*familia de fonte do p*/
    font-size: 24px; /*tamanho de fonte do p*/
    margin-top: 24px;
    width: 792px;
    margin: 24px auto 0;
}

/* "h1 span" define a cor do elemento span
 que esta junto do elemento h1 no html*/
h1 span {
    color: #9747FF;
}

/*links ja tem uma cor pre definida,porem da pra trocar a cor*/

a {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none; /*tirar ou colocar decoraçao de links*/
    background-color: #9747FF;
    width: 340px; /*width significa largura*/
    height: 66px; /*height significa altura*/
    display: block; /**/
    /*pode centralizar o texto com o tamanho do botao : */
    text-align: center;
    line-height: 66px; /**/
    border-radius: 36px; /**/

    margin: 40px auto; /*centraliza o elemento*/

}

a:hover{
    background-color: #8233E8;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width:768px){
    header img {
        margin: 65px 0 0 60px;
        
    }

    p {
        width: 648px;
        
    }
    
}

@media (max-width: 375px) {
    header img {
        margin: 32px 0 0 16px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
        width: 340px;
    }

    a {
        font-size: 20px;
        width: 251px;
    }
    section img {
        width: 340px;
        height: 230px;

    }
}


